<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anomia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anomia">
        <activity android:name=".creation_community"></activity>
        <activity
            android:name=".Community"
            android:label="@string/title_activity_community"
            android:theme="@style/Theme.Anomia.NoActionBar">
        </activity>
        <activity android:name=".user_profil" />
        <activity android:name=".ecran_chargement">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".fil_actualite"
            android:label="@string/title_activity_fil_actualite"
            android:theme="@style/Theme.Anomia.NoActionBar" />
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings" />
        <activity android:name=".page_connection" />
        <activity android:name=".page_creation_compte" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>